
.banner{
    width: 413px;
    height: 244px;
    background-color: #F5F6F7;
    border-radius: 5px;
    margin: 20px auto;
}
.container{
    height: 100%;
    margin: 10px;
}
.input{
    display: grid;
    
}
.input input{
    width: inherit;
    height: 56px;
    border: 0;
    border-color: #B5BFC9;
    border-radius: 10px;
    color: #8D97A9;
    font-size: 20px;
}
input:placeholder-shown{}
.input__top{
    margin-bottom: 10px;
}